html, body, #app, .full-height {
  height: 100%;
}
.v-toolbar {
  .v-input__slot {
    margin-bottom: 0;
  }
}
.max-height {
  max-height: calc(100% - 64px);
}
.relative {
  position: relative;
}
.scroll {
  height: 100%;
  overflow: auto;
}
.auto-scroll {
  overflow-y: auto;
  height: calc(100% - 48px);
}
.v-tabs.bb1 {
  .v-tabs__bar {
    border-bottom: 1px solid rgba(0, 0, 0, .12);
  }
}
.dam-subheader {
  position: relative;
  .v-badge {
    position: absolute;
    right: 16px;
  }
}
.is-mail {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #00E676;
  &.active {
    background-color: red;
  }
}
.v-btn.center {
  right: auto;
  left: 50%;
  margin-left: -20px;
}
.dam-email {
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }
  .v-card__title {
    padding: 0;
    .v-input__slot {
      margin: 0;
      border-radius: 0 !important;
      box-shadow: none !important;
      background-color: transparent !important;
      input {
        font-size: 18px;
        font-weight: 700;
      }
    }
    .v-text-field__details {
      display: none;
    }
  }
  .v-card__text {
    padding: 0;
    .v-input__slot {
      margin: 0;
      border-radius: 0 !important;
      box-shadow: none !important;
      background-color: transparent !important;
      textarea {
        margin-top: 0;
      }
    }
    .v-text-field__details {
      display: none;
    }
  }
}